* {

}
header {

}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.card {
    margin: 25px 0;
}


.author {
    color:#A9A9A9;
}
.home-post {
    color: #000000;
}
.home-post:hover {
    text-decoration: none;
}
.home-post .card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-container {
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
}